.button-container {
  margin: 1em;
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0 0.3em;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  color: #dddafb;
  text-align: center;
  transition: all 0.2s;
  background-color: #373A47;
}

.button:hover {
  color: #040f0f;
  background-color: #979BAE;
}
