/* * {
  border: 1px solid red;
} */
.not_enough {
  border: red;
}
.income-form {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.income-form form {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 20px 0 20px; */
}

.incomeForm input {
  text-align: center;
}

.incomeForm input.input[type="number"] {
  /* background-color: lightgray; */
  border-radius: 3px;
  height: 25px;
  border: none;
}

.incomeForm input.input[type="number"]:focus {
  outline: none;
}

.input-val {
  width: 22px;
}

#bucket-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bucket-group {
  background-color: rgba(211, 211, 211, 0.3);
  border: 1px solid white;
  border-radius: 30px;
  /* margin-bottom: 50px; */
  margin: 10px;
  /* padding: 30px; */
  height: fit-content;
  display: inline-block;
}

.bucket-parent {
  padding: 30px;
  /* border: solid lightgray; */
  /* border-bottom: 1px solid white; */
  text-align: center;
  /* min-height: 200px; */
  /* width: 600px; */
}

h2 a.bucket-parent:hover {
  text-decoration: purple;
}

.children {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bucket {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  min-width: 100px;
}

.bucket-child {
  border-right: 5px solid white;
}

.children .bucket h2 {
  font-size: medium;
}

.bucket p {
  font-size: small;
}

.bucket-pic {
  height: 100px;
  width: auto;
}
.bucket-pic-child {
  height: 50px;
  width: auto;
}
/* -------- */
.delete img:hover,
.edit img:hover {
  transform: scale(1.3);
}

img.delete:hover {
  transform: scale(1.3);
}
/* animation */
.bucket {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
