.coin-pic:active {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.coin-pic {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-15px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  75% {
    transform: scale(1.05, 1) translateY(-7px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
