.trans-hist-page {
  /* border: 1px solid red; */
  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.hist-tile {
  /* border: 1px solid red; */
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 250px;
  border-radius: 5px;
  position: relative;
}

.hist-tile::after {
  content: "";
  background-image: url("../../assets/images/bucket.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
