@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
/* 
* {
  border: solid black;
} */
body {
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23499f68' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23c2c5bb' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2353a36f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b7b69e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235ca776' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b3a482' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2365aa7e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b29169' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236eae85' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b37c56' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2377b28c' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b4654a' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway";
  color: #646464;
}
#logo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 7px;
}

.logo {
  width: 20%;
}

h1 {
  font-family: "Quicksand", serif;
  font-size: 40px;
}

h2 {
  font-family: "Quicksand", serif;
  font-size: 30px;
}

h3 {
  font-family: "Quicksand", serif;
  font-size: 20px;
}

/* Background
Fonts
Headings
 */

/* Layout */
.landing {
  padding: 50px;
  background-color: #646464;
  border: 1px solid white;
  border-radius: 31px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); */
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#landing-text {
  width: max-content;
  padding: 10px;
  margin: 10px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
}

.landing-gif{
  /* margin-left: 10%; */
  justify-content: center;
  display: flex;
  width: 80%;
  height: auto;
}




.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.landing-direct{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.landing-in-out {
  font-size: 30px;
}

.landing-in-out a {
  width: 20%;
  margin: 30px;
  color: lightgray;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 10px;
  transition: all 0.4s ease-out;
}

.landing-in-out a:hover {
  color: white;
  border: 1px solid white;
}

#text-head{
  font-size: 50px;
  text-align: center;
}
.loader-pic {
  margin: 100px;
  padding: 6px 6px;
  float: center;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-pic h2 {
  margin-left: 80px;
}

.coin {
  border-radius: 50%;
  border: 0px;
  background-color: white;
  display: flex;
}

.coin img {
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
}

.main-logo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 0px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  /* TRANSITION HERE!! */
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  /* END OF TRANSITION */
}

.main-logo img {
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
}

.main-logo:hover {
  transform: translateX(-1px) rotateY(180deg);
  -ms-transform: translateX(-1px) rotateY(180deg);
  -webkit-transform: translateX(-1px) rotateY(180deg);
}

.big-add-bucket-box {
  display: flex;
  padding: 50px;
  margin: left;
  margin: right;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.big-add-buckets {
  /* display: inline; */
  float: center;
  margin: left;
  margin: right;
  height: 100px;
  opacity: 50%;
}

img.big-add-buckets:hover {
  transform: scale(1.2);
  opacity: 100%;
}

@media (max-width: 500px) { 
  .landing-gif {
    display: none;
  }
  .landing-text{
    font-size: small;
  }

  .landing-container{
    margin:0;
  }

  .landing-direct{
    flex-direction: column;
  }
}
